body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px
}

.header {
    font-family:'Arial', Arial, sans-serif;
    background-color: #1F2937;
    padding: 16px 200px;

    display: flex;
    justify-content: space-between;
}

.header p {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    gap: 16px;
    align-items: center;
}

.top {
    font-family:'Arial', Arial, sans-serif;
    background-color: #1F2937;
    padding: 128px 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.top h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px

}

.left-text {
    margin: 0px;
    padding: 0px;
}

.left-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.right-text {
    width: 1150px;
    height: 250px;
    background-color: #ACADAF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.top button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 12px;
    border-style: none;
}

.mid {
    font-family:'Arial', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.mid h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0px;
    padding: 16px;
}

.mid .container {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.mid .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin:0px;
    color:#000000;
    background:#ffffff;
}

.content p {
    font-size: 18px;
    color: #ACADAF;
    width: 200px;
    height: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.bot {
    font-family:'Arial', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.bot p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

    margin: 0px;
    padding: 0px;
    text-align: left;
}

.bot h3 {
    
    margin: 0px;
    padding: 0px;
    
    align-self: flex-end;
}

.footer {
    font-family:'Arial', Arial, sans-serif;
    display: flex;
    justify-content: space-around;

    background-color: #3882F6;
    margin: 50px 100px;
    padding: 25px 50px;
    border-radius: 12px;
}

.footer .text {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer h3,
.footer p {
    margin: 0px;
    padding: 0px;
}

.footer button {
    font-size: 18px;
    font-weight: 700;
    color:#F9FAF8;

    height: auto;
    width: 150px;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    margin: 0px;
    background:#3882F6;
}