body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px
}

.header {
    background-color: #1F2937;
    padding: 16px 200px;

    display: flex;
    justify-content: space-between;
}

.header p {
    font-family:'Arial', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.header ul {
    font-size: 18px;
    font-family:'Arial', Arial, sans-serif;
    color: #E5E7EB;
    list-style: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    gap: 16px;
    align-items: center;
}

.top {
    background-color: #1F2937;
    padding: 128px 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.top h1 {
    font-family:'Arial', Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px

}

.left-text {
    margin: 0px;
    padding: 0px;
}

.left-text p {
    font-family:'Arial', Arial, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.right-text {
    width: 1150px;
    height: 250px;
    background-color: #ACADAF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-text p {
    font-family:'Arial', Arial, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.top button {
    font-family:'Arial', Arial, sans-serif;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 12px;
    border-style: none;
}

.mid {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mid h2 {
    font-family:'Arial', Arial, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0px;
    padding: 16px;
}

.mid .container {
    display: flex;
    flex-direction: row;
}

.mid .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes {
    height: 100px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin:0px;
    color:#000000;
    background:#ffffff;
}

.content p {
    text-align: center;
}
.bot {
   
}

.footer {
    
}